<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313481739214-qe6uieauctp0rt2f5qr1kvlqfsjf02jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313481739214-qe6uieauctp0rt2f5qr1kvlqfsjf02jh</string>
	<key>API_KEY</key>
	<string>AIzaSyADZp8y1nhUddiZONqHG5HUVIt7_HCJL3c</string>
	<key>GCM_SENDER_ID</key>
	<string>313481739214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabineme.Control</string>
	<key>PROJECT_ID</key>
	<string>control-c7e09</string>
	<key>STORAGE_BUCKET</key>
	<string>control-c7e09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313481739214:ios:2740a4d9e484c0a9cf899f</string>
	<key>DATABASE_URL</key>
	<string>https://control-c7e09.firebaseio.com</string>
</dict>
</plist>